<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72318481565-jaqmefhrllgbd9n25q0ebsiobocfj7if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72318481565-jaqmefhrllgbd9n25q0ebsiobocfj7if</string>
	<key>API_KEY</key>
	<string>AIzaSyBOUrFnDohk34ZN5hOTq51iuROmTRcpI9c</string>
	<key>GCM_SENDER_ID</key>
	<string>72318481565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caaaption-staging</string>
	<key>PROJECT_ID</key>
	<string>caaaption-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>caaaption-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72318481565:ios:d030168ee0c54c1e9a1074</string>
</dict>
</plist>